<header>
	<h1><font face="Alegreya">{{site.title}}</font></h1>
	<p>Postdoctoral researcher | TU Berlin</p>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}{% link content/projects/projects.md %}">Projects</a></li>
      <li><a href="{{ site.baseurl }}{% link content/teaching/teaching.md %}">Teaching</a></li>
      <li><a href="{{ site.baseurl }}{% link content/publications/publications.md %}">Publications</a></li>
      <li>|</li>
      <li><a href="{{ site.baseurl }}{% link content/contact.md %}">Contact</a></li>
    </ul>
  </nav>
</header>
