<ul class="menu">
{% for adisaurabh in site.data.menu %}
    {% if adisaurabh.subcategories != null %}
    <li><a href="{{ adisaurabh.href }}" class="page-link">{{ adisaurabh.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in adisaurabh.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ adisaurabh.href }}" class="page-link">{{ adisaurabh.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
