---
layout: default
---

<header>
    <img src="/assets/myicon.png" height="42" width="42"/>
  </a>
</header>

<div class="home">

<p>
Presently working as a scientific employee at the Chair of Fluid Dynamics (Institut für Strömungsmechanik und Technische Akustik, Fakultät V), Technische Universität Berlin.
</p>

<p>
Previously,
<li>
	Student, IIT Madras</li>
<li>	School, RK Puram</li>
</p>

<p>
Public academic profiles
<ul style="list-style: none;">
	<li>Reseracher id <span id='badgeCont643660' align="center" style='width:26px;'><script src='http://labs.researcherid.com/mashlets?el=badgeCont643660&mashlet=badge&showTitle=false&className=a&rid=D-5923-2018&size=small'></script></span></li>
	<li>	Reserach gate</li>
	</ul>
	</p>
</div>

<!--
{% include footer.html %}
-->
