---
layout: default
---

<header>
    <img src="/assets/myicon.png" height="42" width="42"/>
  </a>
</header>

<div class="home">

<p>
Assistant Professor at the Department of Mechanical Engineering, Indian Institute of Technology Kanpur.
</p>

<p>
Previously,
<li>
	Scientific employee at the Chair of Fluid Dynamics (Institut für Strömungsmechanik und Technische Akustik, Fakultät V), Technische Universität Berlin/Berlin Institute for Technology Transfer (BIT GmbH).</li>
<li>	PhD in "Physikalische Ingenieurwissenshaft" (Engineering Physics) at the Chair of Fluid Dynamics, TU Berlin.
<li>	Dual-degree student, Dept. Aerospace Eng., Indian Institute of Technology Madras</li>
</p>

<p>
Public academic profiles
<ul style="list-style: none;">
	<li>Reseracher id <span id='badgeCont643660' align="center" style='width:26px;'><script src='http://labs.researcherid.com/mashlets?el=badgeCont643660&mashlet=badge&showTitle=false&className=a&rid=D-5923-2018&size=small'></script></span></li>
	<li>	Reserach gate</li>
	</ul>
	</p>
</div>

<!--
{% include footer.html %}
-->
